/** Button Styles */
.buttons-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

.button a {
  border-radius: 5px;
  padding: 0.5rem 0;
  display: block;
  margin: 0.25rem 0.5rem;
  text-decoration: none;
}

.button-small {
  margin: 0 0.1rem;
}

.button-small a {
  background-color: #EEE;
  color: #333;
  font-size: 0.75rem;
}
