/** All <Details /> specific styles */

/** Promotions */
.promotions {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  color: #cc0000;
  font-weight: bold;
  list-style: none;
  padding: 1rem 0;
  text-transform: lowercase;
}

.promotions svg {
  fill: #cc0000;
  height: 1.15rem;
  width: 1.15rem;
}

/** Quantity Styles */
.quantity {
  align-items: center;
  display: flex;
  padding: 1rem 0;
}
.quantity label {
  padding-right: 3rem;
}

.quantity svg {
  cursor: pointer;
  fill: #CCC;
  height: 2rem;
  width: 2rem;
}

.quantity input {
  max-width: 3.75rem;
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

/** Purchasing */
.purchasing-options .button a {
  color: #EEE;
}

.purchasing-options .button a:hover {
  color: #FFF;
}

.purchasing-options .button-store-pickup a {
  background-color: black;
}

.purchasing-options .button-add-to-cart a {
  background-color: #cc0000;
}

.purchasing-options .text-small {
  font-weight: bold;
}

.returns {
  display: flex;
  margin: 2rem 0;
}

.sharing {
  display: flex;
}

.highlights li {
  padding-bottom: 0.75rem;
}
