/** Image styles */
.image-primary {
  height: 400px;
  margin-bottom: 4rem;
  text-align: center;
}

.image-primary img {
  max-width: 400px;
  max-height: 400px;
}

/** Image Slider Styles */
/** Note: Some styles are inline */
.image-slider {
  align-items: center;
  display: flex;
  justify-content: center;

}

.next-prev-arrows {
  cursor: pointer;
  padding: 0.5rem;
}

.next-prev-arrows svg {
  fill: #CCC;
  height: 2.5rem;
  width: 2.5rem;
}

.image-slider div {
  display: inline-block;
  overflow: hidden;
}

.image-slider ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition-duration: 1s;
  transition-timing-function: ease;
  width: 9999px;
}

.image-slider img {
  max-height: 100%;
  max-width: 100%;
}
