/**
* Note: This type of responsive styles (grid-template-columns) does not work in MSIE11, but
* MSIE11 will always show mobile styles in that browser, which should be acceptable.
*/
/** Root level styles */
#root {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 26px;
}

body {
  padding: 0.25rem;
}

.App {
  align-items: flex-start;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr; /** Mobile-first styles. */
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/** Headings & Text */
h1 {
  font-size: 1.75rem;
  font-weight: 100;
  margin: 0 0 2rem 0;
  padding: 0 1.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #111;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.75rem;
}

.text-tiny {
  font-size: 0.5rem;
}

.text-small {
  font-size: 0.75rem;
}

.text-large {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
}

.text-hidden {
  font-size: 0;
}

.text-right {
  text-align: right;
}

.side-heading {
  border-right: 1px solid #CCC;
  margin-right: 1rem;
  padding-right: 1rem;
}

/** Wrapper styles */
.wrapper {
  width: 100%;
  margin-bottom: 2rem;
}

.wrapper-photos {
  overflow: hidden;
}

.wrapper-reviews {
  grid-column: 1;
}

/** This disables the Chrome spinner on <input type="number" /> fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
