/** Responsive Styles */
@media only screen and (min-width: 550px) {
  html {
    font-size: 21px;
  }
  .App {
    padding: 2rem;
  }

  .buttons-wrapper {
    flex-direction: row;
  }
}
@media only screen and (min-width: 950px) {
    .App {
    grid-template-columns: 1fr 1fr;
  }

  .wrapper-details{
    grid-row-end: span 2;
  }
  
}
