/** All <Reviews /> specific styles */

/** Reviews */
.reviews-heading {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.reviews-heading a {
  color: black;
  text-decoration: none;
}

.reviews-heading > div {
  flex: 50%;
  padding: 0 1rem;
}

.reviews-heading .text-right {
  align-self: flex-end;
}

.review-body {
  background-color: #EEE;
  padding: 1rem;
}

.review-body > div {
  align-items: stretch;
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}

.review-body .bottom-border {
  border-bottom: 1px solid #888;
}

.review-body > div > div {
  width: 100%;
}

.review-body em {
  color: #555;
  display: block;
  font-style: normal;
  margin-bottom: 1rem;
}

.review-body strong {
  font-weight: normal;
}

.review-content {
  padding: 0.5rem;
}

.review-content .star-group {
  display: block;
}

.review-content svg {
  height: 0.75rem;
  width: 0.75rem;
}

.star-filled {
  fill: #cc0000;
}
